# Ignore Python virtual environment
backend/.venv/
backend/.env
backend/sample_data.db

# Ignore Python cache
__pycache__/
*.pyc

# Ignore frontend dependencies
frontend/node_modules/
frontend/dist/
frontend/build/
.DS_Store